
{% extends 'back/base_main.html' %}

{% block title %}
    书屋小后院
{% endblock %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <h1 class="page-header">信息总览</h1>
      <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
          <h4>栏目</h4>
          <span class="text-muted">0 条</span> </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <h4>文章</h4>
          <span class="text-muted">0 条</span> </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <h4>友链</h4>
          <span class="text-muted">0 条</span> </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <h4>管理员</h4>
          <span class="text-muted">0</span> </div>
      </div>
      <h1 class="page-header">状态</h1>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <td>登录者: <span>{{ username }}</span>，这是您第 <span>13</span> 次登录</td>
            </tr>
            <tr>
              <td>上次登录时间: 2016-01-08 15:50:28 , 上次登录IP: ::1:55570</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h1 class="page-header">开发状态</h1>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr> </tr>
            <tr> </tr>
          </thead>
          <tbody>
            <tr>
              <td>完成</td>
              <td>登录注册验证、状态保持、数据增删改查、页面渲染、分类、表关联、当前时间显示</td>
            </tr>
            <tr>
              <td>后续实现</td>
              <td>丰富网页内容、重构前端模板结构、添加ajax的局部刷新功能</td>
            </tr>
          </tbody>
          <tfoot>
            <tr></tr>
          </tfoot>
        </table>
      </div>

    </div>
{% endblock%}

{% block js2 %}
    <script src="/static/back/js/bootstrap.min.js"></script>
    <script src="/static/back/js/admin-scripts.js"></script>

<script>
  setInterval("document.getElementById('datetime').innerHTML=new Date().toLocaleString();", 1000);
</script>
{% endblock %}